// Variables
@import 'variables';

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.default-bg-color {
  background-color: $black;
}

nav {
  // ドロップダウンをホバーで表示
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

.login-form {
  background-color: $black;
  width: 360px;
  padding: 40px;
  margin: 70px auto;
  border-radius: 6px;
  h1 {
    margin-bottom: 20px;
  }
  .form-control {
    margin-bottom: 10px;
  }
}

.calendar-wrapper {
  // ヘッダーとフッターを引いたブラウザの高さ
  height: calc(100vh - (56px + 32px));
  overflow: scroll;
  .table-calendar {
    table-layout: fixed;
    height: 60vh;

    tbody {
      font-size: 20px;
      td {
        height: 80px;
        position: relative;
        .day {
          position: absolute;
          top: 8px;
          left: 8px;
        }
        span {
          color: #333333;
        }
      }
    }
    // 画面幅576px以下
    @media (max-width: 576px) {
      tbody {
        font-size: 12px;
        .day {
          font-size: 14px;
        }
      }
    }
  }
}

.weight_integer {
  width: 50px;
}

.weight_decimal {
  width: 40px;
}

.table-wrapper {
  .info-block {
    max-width: 400px;
    margin-left: auto;
    margin-top: 30px;
      .info-head {
      background-color: $black;
      width: 180px;
      border: 1px solid rgb(222, 226, 230);
      padding: 2px;
      color: white;
      font-weight: bold;
      text-align: center;
    }
    .info-body {
      width: 220px;
      border: 1px solid rgb(222, 226, 230);
      padding: 2px;
    }
  }
  .table-scroll {
    margin-top: 30px;
    overflow-y: scroll;
    height: calc(90vh - (56px + 32px));;
    .table {
      width: unset;
      margin-right: auto;
      thead {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        th, td {
          padding: 2px;
          text-align: center;
        } 
      }
    }
  }
  @media (max-width: 767px) {
    .info-block {
      margin: 0 auto;
    }
    .table {
      margin: 0 auto;
    }
  }
}