// Variables
@import 'variables';

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.default-bg-color {
  background-color: $black;
}

nav {
  // ドロップダウンをホバーで表示
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

.login-form {
  background-color: $black;
  width: 360px;
  padding: 40px;
  margin: 70px auto;
  border-radius: 6px;
  h1 {
    margin-bottom: 20px;
  }
  .form-control {
    margin-bottom: 10px;
  }
}

.calendar-wrapper {
  height: calc(100vh - (56px + 32px));
  overflow: scroll;
  .table-calendar {
    table-layout: fixed;
    height: 70vh;
    td {
      height: 100px;
    }
  }
}