html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
html li, body li {
  list-style: none;
}
html a, body a {
  text-decoration: none;
}

.default-bg-color {
  background-color: #2A2A2A;
}

nav .dropdown:hover > .dropdown-menu {
  display: block;
}

.login-form {
  background-color: #2A2A2A;
  width: 360px;
  padding: 40px;
  margin: 70px auto;
  border-radius: 6px;
}
.login-form h1 {
  margin-bottom: 20px;
}
.login-form .form-control {
  margin-bottom: 10px;
}

.calendar-wrapper {
  height: calc(100vh - 88px);
  overflow: scroll;
}
.calendar-wrapper .table-calendar {
  table-layout: fixed;
  height: 60vh;
}
.calendar-wrapper .table-calendar tbody {
  font-size: 20px;
}
.calendar-wrapper .table-calendar tbody td {
  height: 100px;
  position: relative;
}
.calendar-wrapper .table-calendar tbody td .day {
  position: absolute;
  top: 8px;
  left: 8px;
}
.calendar-wrapper .table-calendar tbody td span {
  color: #333333;
}
@media (max-width: 576px) {
  .calendar-wrapper .table-calendar tbody {
    font-size: 12px;
  }
  .calendar-wrapper .table-calendar tbody .day {
    font-size: 14px;
  }
}
